DB_HOST=localhost
DB_USER=your_username
DB_PASS=your_password
DB_NAME=database_name
DB_PORT=5432

EXPRESS_PORT=8080

CLIENTID=fromAuth0
ISSUER=fromAuth0
BASEURL=http://localhost:8080
SECRET=fromAuth0
DOMAIN=fromAuth0
REDIRECT_URI=http://localhost:8080/callback

TWILIO_ACCOUNTSID=fromTwilio
TWILIO_AUTHTOKEN=fromTwilio
TWILIO_PHONE_NUMBER=fromTwilio