<section id="menu-container">
  
  <h2 class="food-category">Fried Chicken</h2>
  <div class="grid-container" id="fried-chicken"></div>

  <h2 class="food-category">Sandwiches</h2>
  <div class="food-grid-container" id="sandwiches"></div>

  <h2 class="food-category">Briskets</h2>
  <div class="food-grid-container" id="briskets"></div>

</section>